* {
  font-family: "Helvetica Neue", "Helvetica", "Calibri", sans-serif;
}

body {
  padding: 12px;
  background-color: rgb(188, 228, 255);
}

#title {
  font-size: 32pt;
  font-weight: bold;
  padding-bottom: 12px;
}

#content {
  font-size: 16px;
  text-align: justify;
}

#content h2 {
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px
}

#content button {
  display: block;
  font-size: 12pt;
  background-color: #FFFFFF;
  border: 1px solid black;
  color: #000000;
  padding: 4px 6px 4px 6px;
  margin: 8px 0 8px 0;
  transition: color 0.2s, background-color 0.2s;
}

#content button:hover {
  color: #FFFFFF;
  background-color: #000000;
  transition: 0.2s;
}

a {
  text-decoration: none;
}