---
layout: null
title: Annotated Bibliography & Synthesis
file: documents/Annotated Bibliography and Synthesis.pdf
---

<html>
  {% include head.html %}

  <body>
    {% include heading.html %}

    <div id="content">
      Being the first major assignment in the journey of Writing Studies, the annotated bibliography was unlike any assignment I had previously written. This essentially acted as a way to become familiar with my secondary sources on an intimate level. At the time, I understood that this was important to drawing connections to the main point in my final research, but I didn't understand what the "point" of the research as a whole was yet. That said, I additionally mentioned that I was essentially doing all the research <em>around</em> the main point, but nothing that I could call "concrete."
      <br>
      At the time of creating the annotated bibliography and synthesis, my research topic at the time vaguely resembled "how YouTube content creators can affect their audience's use of language." However, it became apparent that this would be too difficult to measure since the correlation between content creator and audience member has too many additional variables. For example, audience members could, and very likely do, watch more than one YouTube channel. This idea of the internet being a form of internet sponsorship, however, was a foundation for the completely new idea that would arise.
      
      {% include preview.html %}
    </div>
  </body>
</html>
