---
layout: null
title: Home
---

<html>
  {% include head.html %}

  <body>
    {% include heading.html %}

    <div id="content">
      My name is Jerrett Longworth and this is my E-Portfolio for ENC 1102. I am an undergraduate Computer Science student at the University of Central Florida. This portfolio is designed to showcase the work that I have created as a result of this class and in learning Writing Studies. Each tab represents a different work or an aspect of work done. You can find my personal reflection above each piece of work. 
        <div class="page-list">
          <a href="annbib.html">Annotated Bibliography & Synthesis</a>
          <a href="revised-proposal.html">Revised Proposal</a>
          <a href="research-write-up.html">Research Write-Up</a>
          <a href="samples.html">In-Class Literacy Tasks & Literacy-Task Homework</a>
          <a href="process-work.html">Process Work</a>
        </div>
    </div>
  </body>
</html>
