---
layout: null
title: Research Write-Up
file: documents/Research Write-Up.pdf
---

<html>
  {% include head.html %}

  <body>
    {% include heading.html %}

    <div id="content">
      In completing my research write-up, I can safely say I have experiences all four of the course objective outcomes. Outcome 1, being “to analyze and synthesize complex texts in ways that demonstrate an understanding of the situated and intertextual nature of writing and research,” was largely experienced in the literature review portion of the write-up. This section required me to merge my understanding of multiple texts related to my topic and to make a contiguous narrative for the following research, discussion, and conclusions.
      <br>
      Outcome 2, “to engage in a recursive, inquiry-based writing and research process that is meaningful for a specific community,” took place throughout the entire writing process. There were many iterations of simply the research topic alone, not to mention the ways to present that information. Each time a revision occurred, the paper became more refined to better focus on the topic at hand. Not only this, but the research process changed based on these changes. Different keywords must be used to find relevant information for a changing topic.
      <br>
      Outcome 3, “to interpret research findings in order to produce arguments that matter to specific communities by addressing real-world exigencies,” was primarily seen in the discussion and conclusion portions of the write-up. The research and data that I collected needed to be interpreted and discussed to support my otherwise unsubstantiated claims. These claims are important for society as a whole and pose interesting questions for the real world that still needs more research.
      <br>
      Outcome 4, “to examine your own conceptions of writing and research in response to your inquiry, reading, and writing throughout the course,” was experienced throughout the entire writing process, similar to Outcome 2. I had to carefully decide certain choices in my language to convey ideas in the way that I wanted them to be portrayed. From the initial idea of the topic to research to the final write-up, my understanding of ‘research’ has changed significantly. The methodologies used to find information and the entire academic community as a whole is the backbone for many real-world applications. For example, essentially every computer algorithm is backed up by some previous research that, at the time, may have been completely new or otherwise not understood.

      {% include preview.html %}
    </div>
  </body>
</html>
