---
layout: null
title: Revised Proposal
file: documents/Revised Proposal.pdf
---

<html>
  {% include head.html %}

  <body>
    {% include heading.html %}

    <div id="content">
      In completing the revised proposal, I believe I began to understand academic research works as being "a part of the conversation." Rather than seeing this research as something that will reach the end of its "lifespan" at the conclusion of the semester, I began to see research as something that acts as its own entity that should stand on its own among the academic environment. I felt that this process accurately reflects Course Outcomes 2 and 4. In Course Outcome 2, "to engage in a recursive, inquiry-based writing and research process that is meaningful for a specific community," my research required a large amount of revision since the change in my research topic. The topic, while changing to something new, was able to utilize a significant portion of the original synthesis for this literature review since the topic still centered around some form of literacy sponsorship.
      <br>
      Additionally, Outcome 4, "to examine your own conceptions of writing and research in response to your inquiry, reading, and writing throughout the course," was experienced when going through the process of changing topics. I was required to reflect on how I wanted to write to best portray my new topic. This process of revising <em>what</em> information was portrayed affected <em>how</em> that information was portrayed.

      {% include preview.html %}
    </div>
  </body>
</html>

