---
layout: null
title: In-Class Literacy Tasks & Literacy-Task Homework
---

<html>
  {% include head.html %}

  <body>
    {% include heading.html %}

    <div id="content">
      When initially entering ENC 1102, I had little to no affiliation with the course's objectives, only knowing what I had been drilled in past education. However, the course outcomes became more than simply idealized standards created by some indifferent group of people. In previous education, these "standards" were nothing important to me and served if nothing more than lip service to the stockholders and investors. This mindset was changed once I entered ENC 1102. The course outcomes, while not being something that I strictly followed as any form of guidance, did end up being fulfulled by the conclusion of the course. From the beginning of the semester to the end, I can say I have met these course outcomes.
      
      <div class="outcome-heading">Outcome 1:</div>
      <div class="outcome-detail">
        Students will be able to analyze and synthesize complex texts in ways that demonstrate an understanding of the situated and intertextual nature of writing and research.
      </div>

      <div class="outcome-heading">Outcome 2:</div>
      <div class="outcome-detail">
        Students will engage in a recursive, inquiry-based writing and research process that is meaningful for a specific community. 
      </div>

      <div class="outcome-heading">Outcome 3:</div>
      <div class="outcome-detail">
        Students will be able to interpret their research findings in order to produce arguments that matter to specific communities by addressing real-world exigencies.
      </div>

      <div class="outcome-heading">Outcome 4:</div>
      <div class="outcome-detail">
        Students will examine their own conceptions of writing and research in response to their inquiry, reading, and writing throughout the course.
      </div>
    </div>
  </body>
</html>
