<div id="tabs" class="topnav">
  <a href="index.html"><i class="fa fa-home"></i></a>
  <a href="annbib.html">Annotated Bibliography & Synthesis</a>
  <a href="revised-proposal.html">Revised Proposal</a>
  <a href="research-write-up.html">Research Write-Up</a>
  <a href="samples.html">In-Class Literacy Tasks & Literacy-Task Homework</a>
  <a href="process-work.html">Process Work</a>
  <a href="javascript:void(0);" class="menu-icon" onClick="toggleView()">
    <i class="fa fa-bars"></i>
  </a>
</div>